*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head-container{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 400px;
    background-color: rgb(2, 154, 255);


    border: 1px solid red;

}

.image{
    display: block;
    position: absolute;
    width: 200px;
    bottom: 10px;
    left: 10px;

    border: 1px solid red;


}

.main-container{
    display: block;
    position: relative;
    width: 100%;
    height: auto;


    border: 1px solid red;
}

.main-titles-container1{
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    border: 1px solid red;
}

.title-container{
    display: block;
    position: relative;
    width: 100%;

    border: 1px solid red;
}

.main-title{
    font-size: 48px;
}

.sub-title1{
    font-size: 18px;
}

.sub-title1-name{
    color: rgb(2, 154, 255);
}

.sub-title-container{
    display: block;
    position: relative;
    width: 100%;

    border: 1px solid red;
}

.date{
    font-size: 18px;
    font-size: 15px;
    margin-bottom: 20px;

}

.date-container{
    display: block;
    position: relative;
    width: 100%;

    border: 1px solid red;

}


.main-images{
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    border: 1px solid red;
}

.paragraph{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 25px;

    border: 1px solid red;
}

.evidence{
    background-color: yellow;
}

.list-size{
    display: block;
    position: relative;
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;

    border: 1px solid red;
}